@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Inter";
  font-weight: 400;
}

.btn {
  border-radius: 8px;
  padding: 13px 22px;
  border: none;
  margin: 0 2px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 1px;
}
.btn:hover {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.1);
}
.btn-accent {
  color: #fff;
  background: #8E2424;
}
.btn-white {
  color: #667085;
  background: #fff;
}
.btn-white:hover {
  box-shadow: none;
  color: #8E2424;
}

.container {
  padding: 0 60px;
}

.title {
  font-weight: 600;
  text-align: center;
  color: #8E2424;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 24px;
}

.desc {
  margin-top: 36px;
  text-align: center;
  line-height: 1.8rem;
}
.desc-text {
  color: #667085;
  width: 90%;
  display: inline-block;
  font-weight: 400;
}
@media (min-width: 992px) {
  .desc-text {
    width: 60%;
  }
}

#navbar-menu-mobile-links,
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 20px auto;
  width: 85%;
}
#navbar-menu-mobile-links-menu-mobile,
#navbar-menu-mobile {
  display: block;
}
@media (min-width: 992px) {
  #navbar-menu-mobile-links-menu-mobile,
#navbar-menu-mobile {
    display: none;
  }
}
#navbar-menu-mobile-links-buttons,
#navbar-buttons {
  display: none;
}
@media (min-width: 992px) {
  #navbar-menu-mobile-links-buttons,
#navbar-buttons {
    display: block;
  }
}
#navbar-menu-mobile-links-logo,
#navbar-logo {
  display: flex;
  align-items: center;
}
#navbar-menu-mobile-links-logo span,
#navbar-logo span {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 50px 0 10px;
}
#navbar-menu-mobile-links ul#navbar-pages,
#navbar ul#navbar-pages {
  list-style: none;
  display: inline-block;
  display: none;
}
@media (min-width: 992px) {
  #navbar-menu-mobile-links ul#navbar-pages,
#navbar ul#navbar-pages {
    display: block;
  }
}
#navbar-menu-mobile-links ul#navbar-pages li,
#navbar ul#navbar-pages li {
  display: inline;
  margin: 0 16px;
}
#navbar-menu-mobile-links ul#navbar-pages li a,
#navbar ul#navbar-pages li a {
  text-decoration: none;
  color: #667085;
  transition: 0.3s;
}
#navbar-menu-mobile-links ul#navbar-pages li a:hover,
#navbar ul#navbar-pages li a:hover {
  color: #8E2424;
}

#navbar-menu-mobile-links {
  display: none;
}
@media (min-width: 992px) {
  #navbar-menu-mobile-links {
    display: none !important;
  }
}
#navbar-menu-mobile-links ul {
  list-style: none;
  padding: 15px;
  background: #8E2424;
  position: relative;
  border-radius: 5px;
}
#navbar-menu-mobile-links ul li a {
  display: block;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
#navbar-menu-mobile-links ul li a:hover {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.1);
}

.section-two, .section-three, .section-four {
  margin-top: 96px;
}

.section-three {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
@media (min-width: 992px) {
  .section-three {
    flex-direction: row;
  }
}
.section-three-item {
  width: 100%;
  padding: 0 15px 15px;
}
@media (min-width: 992px) {
  .section-three-item {
    width: 25%;
  }
}
.section-three-item-number {
  color: #8E2424;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 10px;
}
.section-three-item-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 6px;
}
.section-three-item-subtitle {
  color: #667085;
}

.section-four {
  text-align: center;
}
.section-four-subtitle {
  color: #8E2424;
  background: rgba(142, 36, 36, 0.1);
  padding: 7px 21px;
  border-radius: 25px;
}
.section-four-title {
  margin-top: 30px;
}
.section-four-text {
  margin-top: 20px;
  color: #667085;
}
.section-four img {
  margin-top: 50px;
  max-width: 100%;
}

/*# sourceMappingURL=app.css.map */
