@use "variables"
@import mixins
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap")

*
    margin: 0

body
    font-family: "Inter"
    font-weight: 400

.btn
    border-radius: 8px
    padding: 13px 22px
    border: none
    margin: 0 2px
    font-size: 1rem
    cursor: pointer
    transition: 0.3s
    letter-spacing: 1px

    &:hover
        box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 10%)

    &-accent
        color: #fff
        background: variables.$accent-color

    &-white
        color: variables.$lighter-color
        background: #fff

        &:hover
            box-shadow: none
            color: variables.$accent-color

.container
    padding: 0 20px

.title
    font-weight: 600
    text-align: center
    color: variables.$accent-color

.subtitle
    font-size: 2.5rem
    font-weight: 600
    text-align: center
    margin-top: 24px

.desc
    margin-top: 36px
    text-align: center
    line-height: 1.8rem

    &-text
        color: variables.$lighter-color
        width: 90%
        display: inline-block
        font-weight: 400

        @include breakpoint-lg
            width: 60%
